.sideBarStyle {
  position: sticky;
  overflow-y: scroll;
  /* width: 300px; */
}

.sideBarStyle::-webkit-scrollbar {
  width: 10px;
}

.sideBarStyle::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sideBarStyle::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
